<div class="p-grid">
    <div class="p-col-12">
        <p-card>
             <h2>Histórico: </h2>
            <div class="p-grid p-formgrid p-fluid p-formgroup-inline">
                <div class="p-col-12 p-lg-1 p-field">
                    <p-inputNumber placeholder="Código"  inputId="minmax" inputId="minmax" mode="decimal" [min]="0" [max]="100">
                    </p-inputNumber>
                </div>

                <div class="p-col-12 p-lg-2 p-field">
                    <input type="text" placeholder="Placa" pInputText>
                </div>

                <div class="p-col-12 p-lg-2 p-field">
                    <input type="text" placeholder="Chassi" pInputText>
                </div>

                <div class="p-col-12 p-lg-2 p-field">
                    <p-calendar formControlName="date" placeholder="Data" [showIcon]="true" inputId="icon"></p-calendar>
                </div>

                <br>
                <div class="p-col-12 p-lg-3 p-field">
                    <button pButton pRipple type="button" label="Pesquisar" class="p-button-outlined"></button>
                </div>
            </div> 
        </p-card>
    </div>
</div>
<br>

<p-card >
    <p-table [value]="dados">
        <ng-template pTemplate="caption">
            Resultados da busca: 
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 6rem">#</th>
                <th>Placa</th>
                <th>Produto</th>
                <th>Data</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" *ngFor="let d of dados">
                <tr>
                    <td>{{d.id1}}</td>
                    <td>{{d.placa1}}</td>
                    <td>{{d.produto1}}</td>
                    <td>{{d.data1}}</td>
                    <td>{{d.status1}}</td>
                    <td><button pButton pRipple type="button"
                    icon="pi pi-fw pi-search" class="p-button-rounded
                    p-button-outlined"></button></td>
                </tr>
        </ng-template>
    </p-table>
</p-card>



